@import "partials/variables";
@import "partials/mixins";
@import "partials/navbar";
@import "partials/sidebar";
@import "partials/section-present";
@import "partials/section-past";
@import "partials/section-future";
@import "partials/section-jobs";
@import "partials/footer";
@import "partials/cookie";
@import "partials/modal";
@import "modules/animate";
@import "modules/about";
@import "modules/qa";
@import "modules/timeline";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: $font-size;
  font-family: 'Raleway', sans-serif;
  //font-weight: 100;
  color: $secondary-color;
}

.main {
  background: $main-color;
  height: 100vh;

  ul {
    list-style-type: none;
  }

  ul li {
  }

  a {
  }

  p {
  }
}

.wrapper {
  padding: .2rem;
  margin: 5rem .1rem .1rem .1rem;
  @media (max-width: $sm) {
    padding: 0;
    //margin: 0;
  }
}

.card {
  padding: 1rem;
  width: $md-width;
  max-width: $md-max-width;
  min-width: $md-min-width;
  box-shadow: $light-shadow;
  transition: $transition;
  border-radius: $radius;
  background-color: $white-1;

  &:hover {
    box-shadow: $dark-shadow;
  }

  @media (max-width: $tablet-bg) {
    width: 470px;
    max-width: 480px;
    min-width: 250px;

  }
  @media (max-width: $tablet) {
    width: $tb-width;
    max-width: $tb-max-width;
    min-width: $tb-min-width;
  }
  @media (max-width: $sm) {
    width: $sm-width;
    max-width: $sm-max-width;
    min-width: $sm-min-width;
  }

  .card-ul {
    display: block;

    .card-list {
      padding: .2rem 1rem;
      margin: .2rem .5rem;
      background-color: $main-color;
      animation-duration: 4s;
      text-transform: uppercase;
      @include display_flex;

      @media (max-width: $sm) {
        //padding: .5rem 0 0 3rem;
        @include flex-start;
      }
    }
  }

  .close-card {
    @include flex-end;

    .close-card-btn {
      padding: .15rem .3rem;
      margin: .1rem .2rem;
      border: none;
      outline: none;
      border-radius: 100%;
      transition: $transition;
      box-shadow: $light-shadow;
      color: $secondary-color;

      &:hover {
        box-shadow: $dark-shadow;
        //background-color: $secondary-color;
        color: $yellow;
      }
    }
  }
}

.title {
  @include flex-start;
  padding: .5rem 0 0 22rem;
  //text-transform: capitalize;

  //font-weight: 100;
  //font-size: $font-size-bg;
  @media (max-width: $desktop) {
    //padding: 1rem 0;
    padding: .5rem 0 0 8rem;
  }
  @media (max-width: $tablet-bg) {
    //padding: 1rem 0;
    padding: .5rem 0 0 4rem;
  }

  @media (max-width: $sm) {
    padding: 1rem 0 0 4rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.card-3 {
  padding: 1rem;
  margin: .3rem .8rem;
  width: 300px;
  max-width: 400px;
  min-width: 270px;
  box-shadow: $light-shadow;
  transition: $transition;
  border-radius: $radius;
  background-color: $white-1;
  @include display_flex;
  height: 22rem;
  &:hover {
    box-shadow: $dark-shadow;
  }

  @media (max-width: $desktop) {
    margin: .1rem;
  }
  @media (max-width: $tablet-bg) {
    width: $tb-bg-width;
    max-width: $tb-bg-max-width;
    min-width: $tb-bg-min-width;
  }
   @media (max-width: $tablet-md) {
    width: 300px;
    max-width: 700px;
    min-width: 200px;
  }


  @media (max-width: $tablet) {
    //width: 210px;
    width: 195px;
    max-width: 250px;
    //min-width: 200px;
    min-width: 180px;
    height: 19rem;
  }
  @media (max-width: $sm) {
    //padding: .5rem;
    width: 320px;
    max-width: $sm-max-width;
    min-width: $sm-min-width;
    height: 23rem;
    margin: .2rem;
  }

  .card-project {
    width: 100%;

    .title-project {
      @include flex-start;
      padding: .5rem 0 0 1.1rem;
      text-transform: capitalize;
      font-weight: 400;
      @media (max-width: $sm) {
        padding: 1rem 0 0 3rem;
      }
    }

    img {
      padding: 1rem;
      cursor: zoom-in;
      height: 13rem;
      width: 100%;
      filter: grayscale(100%);
      transition: $transition;

      &:hover {
        filter: grayscale(0%);
      }

      @media (max-width: $tablet-bg) {
        height: 13rem;
      }
      @media (max-width: $tablet) {
        height: 10rem;
      }
      @media (max-width: $sm) {
        height: 13rem;
      }
    }

    .card-desc {
      padding: .1rem 1.1rem .1rem 1.1rem;
      text-align: justify;
    }

    .card-link {
      padding: 1rem 1.1rem .1rem 1.1rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: $secondary-color;
      transition: $transition;
      @include flex-end;


      &:hover {
        color: $yellow;
      }
      p {
        font-size: 1rem;
        padding: 0 .5rem 0 0;
      }
    }
  }
}


  .row-flex {
    width: $classic-width;
    max-width: $classic-width;
    min-width: $fixed-width;
    margin: 1rem auto;
    //padding: .1rem;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $desktop) {
      width: $lg-width;
      min-width: $lg-min-width;
    }
    @media (max-width: $tablet-bg) {
    margin-left: 3rem;
    }
     @media (max-width: $tablet-md) {
      width: 620px;
      min-width: $sm-min-width;
       margin-left: auto;

     }

     @media (max-width: $tablet) {
      width: $md-width;
       max-width: $md-max-width;
      min-width: $sm-min-width;
    }

     @media (max-width: $sm) {
       margin: 1rem auto;
      //width: $sm-min-width;
      width: $sm-max-width;
    }

  }


  //for up button
.scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

.scrollToTopButton:hover {
  background-color: #555;
}

button:focus {
  outline:none;
}


