@import "partials/variables";
@import "partials/mixins";
@import "partials/navbar";
@import "partials/sidebar";
@import "partials/section-present";
@import "partials/section-past";
@import "partials/section-future";
@import "partials/footer";
@import "modules/animate";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: $font-size;
  font-family: 'Raleway', sans-serif;
  //font-weight: 100;
  color: $secondary-color;
}

.main {
  background: $main-color;
  height: 100vh;

  ul {
    list-style-type: none;
  }

  ul li {
  }

  a {
  }

  p {
  }
}

.wrapper {
  padding: .2rem;
  margin: 5rem .1rem .1rem .1rem;
  @media (max-width: $sm) {
    padding: 0;
    //margin: 0;
  }
}

.card {
  padding: 1rem;
  width: $md-width;
  max-width: $md-max-width;
  min-width: $md-min-width;
  box-shadow: $light-shadow;
  transition: $transition;
  border-radius: $radius;
  background-color: $white-1;

  &:hover {
    box-shadow: $dark-shadow;
  }
  @media (max-width: $tablet) {
    width: $tb-width;
    max-width: $tb-max-width;
    min-width: $tb-min-width;
  }
  @media (max-width: $sm) {
    width: $sm-width;
    max-width: $sm-max-width;
    min-width: $sm-min-width;
  }

  .card-ul {
    display: block;

    .card-list {
      padding: .2rem 1rem;
      margin: .2rem .5rem;
      background-color: $main-color;
      animation-duration: 4s;
      text-transform: uppercase;
      @include display_flex;

      @media (max-width: $sm) {
        //padding: .5rem 0 0 3rem;
        @include flex-start;
      }
    }
  }

  .close-card {
    @include flex-end;

    .close-card-btn {
      padding: .15rem .3rem;
      margin: .1rem .2rem;
      border: none;
      outline: none;
      border-radius: 100%;
      transition: $transition;
      box-shadow: $light-shadow;
      color: $secondary-color;

      &:hover {
        box-shadow: $dark-shadow;
        //background-color: $secondary-color;
        color: $yellow;
      }
    }
  }
}

.title {
  @include flex-start;
  padding: .5rem 0 0 6rem;
  text-transform: capitalize;
  //font-weight: 100;
  //font-size: $font-size-bg;
  @media (max-width: $sm) {
    padding: 1rem 0 0 3rem;
  }
}

.card-3 {
  //background-color: red;
  padding: 1rem;
  margin: .5rem;
  width: 390px;
  max-width: 400px;
  min-width: 300px;
  box-shadow: $light-shadow;
  transition: $transition;
  border-radius: $radius;
  background-color: $white-1;
  @include display_flex;

  &:hover {
    box-shadow: $dark-shadow;
  }
  @media (max-width: $tablet) {
    width: 230px;
    max-width: 250px;
    min-width: 200px;
  }
  @media (max-width: $sm) {
    //padding: .5rem;
    width: $sm-width;
    max-width: $sm-max-width;
    min-width: $sm-min-width;
  }

  .card-project {
    //background-color: blue;
    width: 100%;

    h5 {
      //color: green;
      text-transform: capitalize;
      font-size: 1.2rem;
      padding: .1rem 0 .1rem 1.1rem;
    }

    img {
      padding: 1rem;
      //width: 15rem;
      width: 100%;
      filter: grayscale(100%);
      transition: $transition;
      &:hover {
        filter: grayscale(0%);
      }
    }

    .card-desc {
      //font-size: 30px;
      padding: .1rem 1.1rem .1rem 1.1rem;
      text-align: justify;

    }

    .card-link {
      padding: 1rem 1.1rem .1rem 1.1rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: $secondary-color;
      transition: $transition;
      @include flex-end;
      &:hover {
      color: $yellow;
      }
    }
  }


}
