@import "variables";
@import "mixins";

.future{
  .title-project {
    @include flex-start;
    padding: .5rem 0 0 1.1rem;
    text-transform: capitalize;
    font-weight: 400;
    //font-size: $font-size-bg;
    @media (max-width: $sm) {
      padding: 1rem 0 0 3rem;
    }
    p{
      font-size: 1.2rem;
    }
  }}