@import "variables";
@import "mixins";


.row {
  padding: 1rem;
  margin: .2rem .5rem 1rem .5rem;
  @include display_flex;
  @media (max-width: $sm) {
    flex-wrap: wrap;
    padding: 0.1rem;
  }

  .left-1 {
    width: 300px;
    max-width: 450px;
    min-width: 400px;
    @include display_flex;
    @media (max-width: $tablet) {
      display: none;
    }
    @media (max-width: $sm) {
      width: $sm-width;
      max-width: $sm-max-width;
      min-width: $sm-min-width;
      @include display_flex;

      //display: block;

    }

    img {
      height: 15rem;
      //width: 12rem;
      //padding-left: 3rem;
      filter: grayscale(100%);
      transition: $transition;

      &:hover {
        filter: grayscale(0%);
      }

      @media (max-width: $sm) {
        padding: 1rem 0;
        height: 20rem;
      }
    }
  }

  .right-1 {
    //padding: .2rem 6rem .2rem .2rem;
    //margin: .1rem 4rem .1rem .1rem;
    //width: $lg-width;
    //max-width: $lg-max-width;
    //min-width: $lg-min-width;
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    width: $md-width;
    max-width: $md-max-width;
    min-width: $md-min-width;
    @include display_flex;
    @media (max-width: $desktop) {
      padding: .2rem 1rem .2rem .2rem;
      margin: .1rem 6rem .1rem .1rem;
    }
    @media (max-width: $tablet-bg) {
      padding: .2rem 6rem .2rem .2rem;
      margin: .1rem 0 .1rem .1rem;
    }
    @media (max-width: $tablet) and (orientation: portrait) {
      padding: .2rem 0.2rem .2rem .2rem;
      margin: .1rem 0.2rem .1rem .1rem;
    }
    @media (max-width: $sm) {
      text-align: justify;
      padding: .2rem .4rem;
      margin: .1rem;
      width: $sm-width;
      max-width: $sm-max-width;
      min-width: $sm-min-width;
    }
  }

  ul {
    position: relative;
  }

  li {
    padding: .5rem;

  }

  .info-link {
    padding: .5rem;
    //=============
    transition: $transition;
    //text-shadow: 1px -1px 0 $secondary-color;
    //-1px 1px 0 $secondary-color;
    //-1px 1px 0 $secondary-color,
    //1px -1px 0 $secondary-color;
  }

  .info-link:hover {
    color: $main-color;
    transition: .8s ease-out;
    text-shadow: 1px -1px 0 rgba(245, 229, 27, 1),
    -1px 1px 0 rgba(245, 229, 27, 1),
    -1px 1px 0 rgba(245, 229, 27, 1),
    1px -1px 0 rgba(245, 229, 27, 1),
    0px 1px 0 rgba(245, 229, 27, 0.95),
    0px 2px 0 rgba(245, 229, 27, 0.90),
    0px 3px 0 rgba(245, 229, 27, 0.85),
    0px 4px 0 rgba(245, 229, 27, 0.80),
    0px 5px 0 rgba(245, 229, 27, 0.75),
    0px 6px 0 rgba(245, 229, 27, 0.70),
    0px 7px 0 rgba(245, 229, 27, 0.65),
    0px 8px 0 rgba(245, 229, 27, 0.60),
    0px 9px 0 rgba(245, 229, 27, 0.62),
    0px 10px 0 rgba(245, 229, 27, 0.6),
    0px 11px 0 rgba(245, 229, 27, 0.58),
    0px 12px 0 rgba(245, 229, 27, 0.55),
    0px 13px 0 rgba(245, 229, 27, 0.52),
    0px 14px 0 rgba(245, 229, 27, 0.50),
    0px 15px 0 rgba(245, 229, 27, 0.47),
    0px 16px 0 rgba(245, 229, 27, 0.45),
    0px 17px 0 rgba(245, 229, 27, 0.42),
    0px 18px 0 rgba(245, 229, 27, 0.40),
    0px 19px 0 rgba(245, 229, 27, 0.35),
    0px 20px 0 rgba(245, 229, 27, 0.30),
    0px 21px 0 rgba(245, 229, 27, 0.28),
    0px 22px 0 rgba(245, 229, 27, 0.25),
    0px 23px 0 rgba(245, 229, 27, 0.23),
    0px 24px 0 rgba(245, 229, 27, 0.21),
    0px 25px 0 rgba(245, 229, 27, 0.18),
    0px 26px 0 rgba(245, 229, 27, 0.15),
    0px 27px 0 rgba(245, 229, 27, 0.12),
    0px 28px 0 rgba(245, 229, 27, 0.09),
    0px 29px 0 rgba(245, 229, 27, 0.05),
    0px 30px 0 rgba(245, 229, 27, 0);

  }

  .info-a {
    padding: .5rem 0;
    text-decoration: none;
    color: $secondary-color;
    transition: $transition;
  }
  .info-a:hover{
    color: $main-color;
    transition: .8s ease-out;
    text-shadow: 1px -1px 0 rgba(245, 229, 27, 1),
    -1px 1px 0 rgba(245, 229, 27, 1),
    -1px 1px 0 rgba(245, 229, 27, 1),
    1px -1px 0 rgba(245, 229, 27, 1),
    0px 1px 0 rgba(245, 229, 27, 0.95),
    0px 2px 0 rgba(245, 229, 27, 0.90),
    0px 3px 0 rgba(245, 229, 27, 0.85),
    0px 4px 0 rgba(245, 229, 27, 0.80),
    0px 5px 0 rgba(245, 229, 27, 0.75),
    0px 6px 0 rgba(245, 229, 27, 0.70),
    0px 7px 0 rgba(245, 229, 27, 0.65),
    0px 8px 0 rgba(245, 229, 27, 0.60),
    0px 9px 0 rgba(245, 229, 27, 0.62),
    0px 10px 0 rgba(245, 229, 27, 0.6),
    0px 11px 0 rgba(245, 229, 27, 0.58),
    0px 12px 0 rgba(245, 229, 27, 0.55),
    0px 13px 0 rgba(245, 229, 27, 0.52),
    0px 14px 0 rgba(245, 229, 27, 0.50),
    0px 15px 0 rgba(245, 229, 27, 0.47),
    0px 16px 0 rgba(245, 229, 27, 0.45),
    0px 17px 0 rgba(245, 229, 27, 0.42),
    0px 18px 0 rgba(245, 229, 27, 0.40),
    0px 19px 0 rgba(245, 229, 27, 0.35),
    0px 20px 0 rgba(245, 229, 27, 0.30),
    0px 21px 0 rgba(245, 229, 27, 0.28),
    0px 22px 0 rgba(245, 229, 27, 0.25),
    0px 23px 0 rgba(245, 229, 27, 0.23),
    0px 24px 0 rgba(245, 229, 27, 0.21),
    0px 25px 0 rgba(245, 229, 27, 0.18),
    0px 26px 0 rgba(245, 229, 27, 0.15),
    0px 27px 0 rgba(245, 229, 27, 0.12),
    0px 28px 0 rgba(245, 229, 27, 0.09),
    0px 29px 0 rgba(245, 229, 27, 0.05),
    0px 30px 0 rgba(245, 229, 27, 0);
  }


  span {
    padding-left: 1rem;
  }
}
