@import "variables";
@import "mixins";

.past {
  .past-left {
    padding: .1rem;
    margin: .1rem;
    //display: flex;
    //justify-content: center;
    //align-content: center;

    @media (max-width: $sm) {
      //width: 280px;
      //max-width: 320px;
      //min-width: 250px;
      text-align: justify;
      padding: .2rem;
      margin: .1rem;
      width: 280px;
      max-width: 320px;
      min-width: 250px;

    }


  }

  .past-right {
    padding: .1rem;
    margin: .1rem;
    @media (max-width: $sm) {
      width: 280px;
      max-width: 320px;
      min-width: 250px;
      text-align: justify;
      padding: .2rem;
      margin: .1rem;

    }
  }
}
.disabled{
  opacity: .2;
}