$main-color: #ffffff;
$secondary-color: #222;



$grey1: #bdbdbd;

$white-1: #fafafa ;
$black: #222;
$red-dark: hsl(360, 67%, 44%);
$red-dark-2:  #4e1609;
$red-light: hsl(360, 71%, 66%);
$green-dark: hsl(125, 67%, 44%);
$green-light: hsl(125, 71%, 66%);
$light-blue: lightblue;
$blue-1: #0505ff;
$blue-2: #000094;

$font-size: 1.1rem;
$font-size-sm:.9rem;
$font-size-bg: 1.5rem;
$font: 'Raleway';
$sm: 600px;
$tablet: 768px;
$desktop: 1366px;
$lg-desktop: 1920px;

$sm-min-width: 280px;
$sm-max-width: 320px;
$sm-width: 250px;
$md-width:600px;
$md-max-width:650px;
$md-min-width:400px;




$line-height: 1.6;
$line-height-2: 1.4;
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 5px;
$transform: translate3d(0, -1px, 0);
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;
