@import "../partials/variables";
@import "../partials/mixins";

#presentation {
  .about {
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
    @media (max-width: $sm) {
    }
  }

  .about-title {
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  p {
    //margin: 2rem auto;
    line-height: 1.7rem;
    font-size: $font-size-sm;
    @media (min-width: $tablet) {
      font-size: $font-size;
    }
  }

  .text {
    margin: auto;
    padding: 0 16rem;
    //transition: 1s ease-out;
    @media (max-width: $desktop) {
      padding: 0 2rem;
    }
    @media (max-width: $tablet-bg) {
      padding: 0 2rem;
    }
    @media (max-width: $sm) {
      padding: 0;
    }
  }

  .text:hover {
    transform: scale(1.01);
    transition: .3s ease-out;
  }
}
