
#html{
  animation: anim-left 2s ease-in;
}
#css{
  animation: anim-left 2.5s ease-in;
}
#bootstrap{
  animation: anim-left 3s ease-in;
}
#sccs{
  animation: anim-left 3.5s ease-in;
}
#js {
  animation: anim-left 4s ease-in;
}
@keyframes anim-left {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

#tailwind{
  animation: anim-right 2s ease-in;
}
#react{
  animation: anim-right 2.5s ease-in;
}
#next{
  animation: anim-right 3s ease-in;
}
#vue{
  animation: anim-right 3.5s ease-in;
}
#jest{
  animation: anim-right 4s ease-in;
}
@keyframes anim-right {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }

}

@keyframes fade-in-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
